body {
  background-color: #e5eaeb;
}
/*estilos para la tabla*/
table th {
    background-color: #0d0d0d !important;
    color: rgb(248, 242, 242);
}
table>tbody>tr>td {
    vertical-align: middle !important;
    overflow-y: hidden;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }

  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }

  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }

  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }

  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }

  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }

  .search__button:hover {
    cursor: pointer;
  }

  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
  .cajasTexto{
    margin-bottom: 1rem;
    position: static;
    display: grid;
    grid-template-columns: auto auto auto;
  }

.linea1{
  text-align: center;
  font-size: 70%;
  position: static;
}

.linea2{
  text-align: center;
  font-size: 70%;
  position: static;
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: start;
  justify-items: start;
}

.linea3{
  text-align: center;
  font-size: 70%;
  position: static;
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: start;
  justify-items: start;
}
.btn-secondary {
  font-size: 90%;
  color: rgb(12, 12, 12);
  background-color: #fffcfc;
  margin-top: -3.3rem;
  margin-left: 14rem;
  border-radius: 0.2rem;
}
.btn-secondary:hover {
  border: 1px solid #706e6e;
  background-color: #706e6e;
}
.btn-primary:hover {
  border: 1px solid #706e6e;
  background-color: #706e6e;
}
.btn-primary {
  margin-left: -2em;
  margin-top: 0.0rem;
  font-size: 90%;
  color: rgb(12, 12, 12);
  background-color: #fffcfc;
  border-radius: 0.2rem;
  position: absolute;
}

/* .tr .td{
  color: #0d0d0d;
} */ */
/* .dataTables_length{
  color: rgb(17, 16, 16);
  font-size: 70%;
  text-align: auto;
  margin-left: 11rem;
}
.dataTables_length select{
  color: rgb(17, 16, 16);
  font-size: 80%;
  text-align: auto;
}
/* Ensure that the demo table scrolls */
/* th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 700px;
    margin: 0 auto;
}
tr { height: 1px; }

table.dataTable tbody th, table.dataTable tbody td {
  padding: 5px 5px; /* e.g. change 8x to 4px here */

.main_container{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 86%;
  margin: 0 auto;
  background-color: rgb(14, 15, 14);
  padding: 20px;
  border: 1px solid black;
}
.controles {
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .btn-secondary {
    font-size: 90%;
    color: rgb(12, 12, 12);
    background-color: #fffcfc;
    margin-top: -3.3rem;
    margin-left: 14rem;
    border-radius: 0.2rem;
  }
  .input{
    width: 25%;
    margin-left: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #0d0d0d;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }
  .input2{
    width: 25%;
    margin-left: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #0d0d0d;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }.input3{
    width: 25%;
    margin-left: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #0d0d0d;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }.input4{
    width: 25%;
    margin-left: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #0d0d0d;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }.input5{
    width: 25%;
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #0d0d0d;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }.input6{
    width: 25%;
    margin-left: 1rem;
    max-width: 120px;
    height: 30px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #00afe0;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: relative;
  }
  /* .table{
    display: grid;
    font-size: 80%;
    margin-left: 45%;
    margin-block-end: 1rem;
  }
  .dataTables_length{
    color: rgb(17, 16, 16);
    font-size: 90%;
    text-align: auto;
    margin-left: 6rem;
  } */
}
/* Boton De Iniciar */
button {
  margin-left: 1rem;
  height: 2.7rem;
  width: 6rem;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
 }

 button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
 }

 button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
 }

 button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
 }

 button:focus {
  outline: 1px transparent;
 }

 button:before {
  display: none;
 }

 button:-webkit-details-marker {
  display: none;
 }

 /* Cajas De Texto */
 .form__group {
  position: relative;
  display: inline-block;
}
.form__group1 {
  position: relative;
  display: inline-block;
}
.form__group2{
  position: relative;
   display: inline-block;
}
.form__group3 {
  position: relative;
  display: inline-block;
}
.form__group4 {
  position: relative;
  display: inline-block;
}
.form__group5 {
  position: relative;
  display: inline-block;
}

.form__field {
  border: 1px solid silver !important;
  border-radius: 5px;
  box-sizing: border-box;
  color: #313a46;
  height: 40px;
  padding: 0rem 15px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__label {
  background-color: white;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  color: #9b9b9b;
  display: block;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.form__field:focus {
  border: 1px solid #090909 !important;
  outline: none;
}

.form__field:focus ~ .form__label {
  background-color: white;
  border-right: 1px solid #0b0b0b;
  border-left: 1px solid #0f0e0e;
  color: #0d0d0d;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}